[Unit]
Description=SimpleMachineInventory
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/srv/SimpleMachineInventory
ExecStart=/srv/SimpleMachineInventory/main.py

[Install]
WantedBy=multi-user.target